{% set current_route = url_for(request.endpoint) %}
{% set navigation = [
    (url_for('index.index_route'), 'Home'),
    (url_for('about.about_page'), 'About'),
    (url_for('resources.resources_page'), 'Resources')
] %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% for href, title in navigation %}
          {% if current_route == href %} {% set class = 'nav-link active' %}  {% else %} {% set class = 'nav-link' %} {% endif %}
          <a class="{{ class }}" href="{{ href }}">{{ title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
