{% set page_title = 'About Page' %}

{% extends 'layouts/main.jinja2' %}

{% block content %}
    <h1 class="text-3xl font-bold underline">About me page</h1>
    <p><a href="/">Go back to index page</a>.</p>
{% endblock %}