{% set page_title = 'Site Resources' %}

{% extends 'layouts/main.jinja2' %}

{% block content %}
    <h1 class="display-4">Site Resources</h1>

    <h2>Google Cloud Build & Run</h2>

    <ul>
    <li>
        <a href="https://cloud.google.com/build/docs/building/build-containerize-python" target="_blank">Build, test, and containerize Python applications</a>
    </li>
    <li>
        <a href="https://github.com/GoogleCloudPlatform/cloud-build-samples" target="_blank">Cloud Build Samples (Github)</a>
    </li>
    <li>
        <a href="https://cloud.google.com/build/docs/samples/cloudbuild-python-yaml" target="_blank">Python Development with Cloud Build</a>
    </li>
    <li>
        <a href="https://cloud.google.com/build/docs/samples/cloudbuild-quickstart-deploy" target="_blank">Deploying Images - Cloud Build Quickstart</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=v36R-lwzUSI" target="_blank">Building, Pushing and Running Docker images on Google Cloud Platform.</a>
    </li>
    <li>
        <a href="https://github.com/jgvaraujo/ml-deployment-on-gcloud" target="_blank">Machine Learning deployment pipeline on Google Cloud Run</a>
    </li>
    <li>
        <a href="https://cloud.google.com/build/docs/build-config-file-schema" target="_blank">Build configuration file schema</a>
    </li>
    <li>
        <a href="https://cloud.google.com/artifact-registry/docs/configure-cloud-build" target="_blank">Artifact Registry - Integrating with Cloud Build</a>
    </li>
    <li>
        <a href="https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr" target="_blank">Artifact Registry - Transition from Container Registry</a>
    </li>
    <li>
        <a href="https://medium.com/google-cloud/getting-started-with-artifact-registry-deploying-to-google-kubernetes-engine-ee490da2f6de" target="_blank">Getting Started with Artifact Registry: Deploying to Google Kubernetes Engine</a>
    </li>
    <li>
        <a href="https://medium.com/google-cloud/artifact-registry-the-new-way-to-keep-your-app-artifacts-and-docker-images-on-gcp-d1a72da09ff9" target="_blank">Artifact Registry: the new way to keep your App artifacts and Docker Images on GCP</a>
    </li>
    <li>
        <a href="" target="_blank"></a>
    </li>
    </ul>

    <h2>Flask Boilerplate</h2>
    <ul>
    <li>
        <a href="https://github.com/abstractkitchen/flask-backbone" target="_blank">Flask-Backbone</a>
        <ul>
            <a href="https://abstractkitchen.com/blog/flask-backbone/" target="_blank">Flask Boilerplate and Your Guide to Flask in 2023. With SQLAlchemy.</a>
        </ul>
    </li>
    <li>
        <a href="https://github.com/app-generator/boilerplate-code-flask" target="_blank">Flask Boilerplate</a>
    </li>
    <li>
        <a href="https://github.com/ksh7/flask-starter" target="_blank">Flask-Starter</a>
    </li>
    </ul>

    <h2>Flask Guides</h2>
    <ul>
    <li>
        <a href="https://exploreflask.com/en/latest/index.html" target="_blank">Explore Flask</a>
    </li>
    <li>
        <a href="https://www.fullstackpython.com/" target="_blank">Full Stack Python</a>
    </li>
    </ul>

    <h2>Flask Example Projects</h2>
    <ul>
    <li>
        <a href="https://www.101computing.net/random-password-generator/" target="_blank">Random Password Generator</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=lWA0GgUN8kg" target="_blank">Creating a Weather App in Flask Using Python Requests</a>
    </li>
    <li>
        <a href="https://dev.to/yellalena/5-flask-project-ideas-and-why-you-should-implement-them-4n51" target="_blank">5 Flask project ideas and why you should implement them</a>
        <ul>
            <li>Weather app</li>
            <li>Movie Database</li>
            <li>Todo list</li>
            <li>Web Calendar</li>
            <li>Shared expense tracker</li>
            <li>URL Shortener</li>
        </ul>
    </li>
    <li>
        <a href="https://realpython.com/build-a-chatbot-python-chatterbot/" target="_blank">ChatterBot: Build a Chatbot With Python</a>
    </li>
    <li>
        <a href="https://realpython.com/build-a-python-url-shortener-with-fastapi/" target="_blank">Build a URL Shortener With FastAPI and Python</a>
    </li>
    <li>
        <a href="https://realpython.com/build-a-content-aggregator-python/" target="_blank">Build a Content Aggregator in Python</a>
    </li>
    </ul>

    <h2>Python Tutorials</h2>
    <ul>
    <li>
        <a href="https://realpython.com/learning-paths/perfect-your-python-development-setup/" target="_blank">Perfect Your Python Development Setup</a>
    </li>
        <li>
        <a href="https://realpython.com/learning-paths/python-interview/" target="_blank">Ace Your Python Coding Interview</a>
    </li>
        <li>
        <a href="https://realpython.com/learning-paths/object-oriented-programming-oop-python/" target="_blank">Object-Oriented Programming (OOP) With Python</a>
    </li>

    </ul>

{% endblock %}
